<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <title>PayCal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/images/logo_2.png">
    <title>...</title>
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
<!--<header th:insert="~{blocks/page-header :: header}"></header>-->
<section class="bg-light py-4 overflow-auto">
    <div class="container text-center">
        <img src="/static/images/logo_2.png" alt="Logo" height="50" width="50" style="margin-top: 50px">
        <div class="image-container" style="display: flex; align-items: center; justify-content: center; margin-top: 50px;">
            <a role="button" href="/login" style="color: black; text-decoration: none; margin-right: 10px; margin-bottom: 10px">Вход</a>
            <a role="button" href="/reg" style="color: black; text-decoration: none; margin-bottom: 10px">Регистрация</a>
        </div>
        <h1 class="header-title" style="margin-bottom: 50px">PAYCAL</h1>
<!--        <p class="lead mb-4" style="margin-bottom: 30px">Время - деньги</p>-->
    </div>
</section>
<section>
    <div class="container" style="margin-right: 20px;">
        <div class="row">
            <div class="col-md-6" style="margin-top: 60px;">
                <div class="image-container" style="display: flex; align-items: flex-start; justify-content: flex-start;">
                    <img src="/static/images/2.jpg" alt="Left Image" style="width: 50%; object-fit: cover; border-radius: 10px;">
                    <p style="margin-left: 10px; white-space: pre-line;">
                        С PAYCAL вы можете настроить повторяющиеся платежи, установить напоминания и даже автоматически оплачивать счета.
                        Забудьте о рутинных задачах по оплате счетов и сосредоточьтесь на важных вещах в своей жизни.
                        PAYCAL также предлагает удобную и интуитивно понятную платформу, на которой вы можете легко отслеживать и анализировать свои платежи.
                    </p>
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 400px; margin-bottom: 60px">
                <div class="image-container" style="display: flex; align-items: flex-start; justify-content: flex-start;">
                    <p style="margin-right: 10px; white-space: pre-line; text-align: right;">
                        Одной из отличительных черт PAYCAL является его интеллектуальная система управления платежами.
                        Приложение анализирует ваши финансовые данные и предлагает оптимальные стратегии оплаты, помогая вам избежать штрафов и минимизировать расходы.
                        PAYCAL также предоставляет подробные отчеты и статистику, чтобы вы могли лучше понять свои финансовые привычки и принимать более осознанные решения.
                    </p>
                    <img src="/static/images/3.jpg" alt="Right Image" style="width: 50%; object-fit: cover; border-radius: 10px;">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light py-5" th:style="'background-image: url(/static/images/1.jpg)'">
    <div class="container text-center">
        <h1 class="header-title" style="color: white;">PAYCAL</h1>
    </div>
</section>
<footer th:insert="~{blocks/footer:: footer}"></footer>
</body>
</html>