<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Платёжный календарь</title>
    <link rel="icon" href="/static/images/logo_2.png">
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../static/styles/style.css">

</head>
<body style="background-color: #F1F0FA">
<header th:insert="~{blocks/header :: header}"></header>
<div class="content-container-pc">
    <div class="sidebar" th:include="blocks/sidebar.html"></div>
    <!-- Таблицы -->
    <div class="table-wrapper-pc" style="margin-top: 20px">
        <!--        <h2>Платёжный календарь</h2>-->
        <form th:action="@{/pc/cal_date}" method="get" style="display: flex;"
              th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}">
            <div style="margin-right: 10px;">
                <label for="cal_date">Выберите месяц:</label>
                <input type="month" id="cal_date" name="cal_date" class="date">
            </div>
            <div>
                <button class="btn btn-primary">Выбрать</button>
            </div>
        </form>
        <button id="editButton" onclick="toggleEditing()" class="btn btn-primary"
                th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}"
                style="margin-bottom: 10px; margin-top: 10px">Разрешить редактирование
        </button>

        <div th:if="${errorMessage}" class="text-danger" style="font-size: smaller;">
            <p th:text="${errorMessage}"></p>
        </div>

        <div th:unless="${errorMessage}">
            <h4 style="margin-top: 10px">Ответственный: <span th:text="${owner}"></span></h4>
            <hr>

            <div style="background-color: white; padding: 10px; margin: -10px; margin-bottom: 25px; margin-top: 15px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); overflow-x: auto; max-width: 1270px;">                <h2>Таблица доходов</h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Категории доходов</th>
                        <th>План, сумма</th>
                        <th>Факт, сумма</th>
                        <th>Разница</th>
                        <th th:each="day : ${#numbers.sequence(1, days)}"
                            th:style="${weekend.contains(day) ? 'background-color: #C6C2EB' : ''}"
                            th:text="${day}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category, index : ${categories_inc}">
                        <td th:text="${index.index + 1}"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${planAmounts_inc[category.categoryId]}"></td>
                        <td th:text="${factAmounts_inc[category.categoryId]}"></td>
                        <td th:text="${planAmounts_inc[category.categoryId] - factAmounts_inc[category.categoryId]}"></td>
                        <td th:each="day : ${#numbers.sequence(1, days)}">
                            <span th:if="${paymentByDay_inc[category.categoryId]?.get(day) != null}"
                                  class="actual-payment editable-cell"
                                  th:text="${paymentByDay_inc[category.categoryId].get(day)}"></span>
                            <span th:unless="${paymentByDay_inc[category.categoryId]?.get(day) != null}"
                                  class="planned-payment editable-cell"
                                  th:text="${paymentByDay_inc_plan[category.categoryId].get(day)}"></span></span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <th colspan="50">ИТОГИ</th>
                    <tr>
                        <td colspan="5">Итого по неделям</td>
                        <td th:each="week, index : ${weeklyFactAmounts_inc}" th:text="${week}"></td>
                    </tr>
                    <tr>
                        <td colspan="5">Общий итог</td>
                        <td colspan="30" th:text="${totalFactAmount_inc}"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <hr>

            <div style="background-color: white; padding: 10px; margin: -10px; margin-top: 25px; margin-bottom: 30px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); overflow-x: auto;  max-width: 1270px;">
                <h2>Таблица расходов</h2>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Категории расходов</th>
                        <th>План, сумма</th>
                        <th>Факт, сумма</th>
                        <th>Разница</th>
                        <th th:each="day : ${#numbers.sequence(1, days)}"
                            th:style="${weekend.contains(day) ? 'background-color: #C6C2EB' : ''}"
                            th:text="${day}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category, index : ${categories_dec}">
                        <td th:text="${index.index + 1}"></td>
                        <!-- Заполняем колонку "N" по номеру каждой категории по счету -->
                        <td th:text="${category.name}"></td> <!-- Выводим данные из переменной category_inc -->
                        <td th:text="${planAmounts_dec[category.categoryId]}"></td>
                        <td th:text="${factAmounts_dec[category.categoryId]}"></td>
                        <td th:text="${planAmounts_dec[category.categoryId] - factAmounts_dec[category.categoryId]}"></td>
                        <td th:each="day : ${#numbers.sequence(1, days)}">
                            <span th:if="${paymentByDay_dec[category.categoryId]?.get(day) != null}"
                                  class="actual-payment editable-cell"
                                  th:text="${paymentByDay_dec[category.categoryId].get(day)}"></span>
                            <span th:unless="${paymentByDay_dec[category.categoryId]?.get(day) != null}"
                                  class="planned-payment editable-cell"
                                  th:text="${paymentByDay_dec_plan[category.categoryId].get(day)}"></span></span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <th colspan="50">ИТОГИ</th>
                    <tr>
                        <td colspan="5">Итого по неделям</td>
                        <td th:each="week, index : ${weeklyFactAmounts_dec}" th:text="${week}"></td>
                    </tr>
                    <tr>
                        <td colspan="5">Общий итог</td>
                        <td colspan="30" th:text="${totalFactAmount_dec}"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="popupOverlay" class="popup-overlay"></div>

<div id="popupForm" class="popup-form">
    <div class="popup-content">
        <span class="close" onclick="closePopupForm(this)">&times;</span>
        <h3>Заполните форму для создания нового платёжного календаря</h3>
        <hr>
        <form th:action="@{/add_pc}">
            <!-- Поля для заполнения -->
            <label for="owner">Кто отвечает за платёжный календарь:</label>
            <select class="form-select" id="owner" name="owner" style="margin-bottom: 10px">
                <option th:each="userInf : ${usersInfs}" th:value="${userInf.userId}"
                        th:text="${userInf.first_name + ' ' + userInf.last_name}"></option>
            </select>

            <label for="month" style="margin-right: 5px">Какому месяцу соответствует платёжный календарь?</label>
            <input type="month" id="month" name="month" class="date">

            <button class="btn btn-primary" type="submit">Отправить</button>
        </form>
        <div th:if="${save_error}" class="text-danger" style="font-size: smaller;">
            <p th:text="${save_error}"></p>
        </div>
    </div>
</div>
<div id="popupFormInsertLastMonth" class="popup-form">
    <div class="popup-content">
        <span class="close" onclick="closePopupForm(this)">&times;</span>
        <h3>Выберите файлы для заполнения нового платёжного календаря</h3>
        <form th:action="@{/fill_pc_prev}" method="post" enctype="multipart/form-data">
            <!-- Поля для заполнения -->
            <label>Данные по доходам</label>
            <input type="file" accept=".xlsx, .xls" id="incomeFile" name="incomeFile" style="display:none">
            <button type="button" class="btn btn-primary" onclick="chooseFile('incomeFile')">Выбрать файл</button>

            <label>Данные по расходам</label>
            <input type="file" accept=".xlsx, .xls" id="expenseFile" name="expenseFile" style="display:none">
            <button type="button" class="btn btn-primary" onclick="chooseFile('expenseFile')">Выбрать файл</button>

            <button type="submit">Отправить</button>

        </form>
        <div th:if="${fill_error}" class="text-danger" style="font-size: smaller;">
            <p th:text="${fill_error}"></p>
        </div>
    </div>
</div>
<div id="popupFormIncome" class="popup-form">
    <div class="popup-content">
        <span class="close" onclick="closePopupForm(this)">&times;</span>
        <h3>Введите прогнозируемые доходы по категориям за следующий месяц</h3>
        <hr>
        <form id="incomeForm" th:action="@{/add_income}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <div id="incomeRows">
                <!-- Первая строка ввода -->
                <div class="income-row">
                    <div class="input-group">
                        <label for="category_inc" style="margin-right: 3px">Выберите категорию:</label>
                        <select id="category_inc" name="categoryId" required>
                            <option th:each="category : ${categories_inc}" th:value="${category.categoryId}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="incomeDate" style="margin-right: 3px">Выберите дату:</label>
                        <input type="date" id="incomeDate" name="paymentDate" required
                               value="${#dates.format(#calendars.createNow().time, 'yyyy-MM-dd')}"/>
                    </div>
                    <div class="input-group">
                        <label for="incomeAmount" style="margin-right: 3px">Введите сумму дохода:</label>
                        <input type="number" id="incomeAmount" name="amount" required step="0.01"/>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="addIncomeRow()">Добавить строку</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

    </div>
</div>
<div id="popupFormDec" class="popup-form">
    <div class="popup-content">
        <span class="close" onclick="closePopupForm(this)">&times;</span>
        <h3>Введите прогнозируемые расходы по категориям за следующий месяц</h3>
        <hr>
        <form id="expenseForm" th:action="@{/add_dec}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <div id="expenseRows">
                <!-- Первая строка ввода -->
                <div class="expense-row">
                    <div class="input-group">
                        <label for="category_exp" style="margin-right: 3px">Выберите категорию:</label>
                        <select id="category_exp" name="categoryId" required>
                            <option th:each="category : ${categories_dec}" th:value="${category.categoryId}"
                                    th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="expenseDate" style="margin-right: 3px">Выберите дату:</label>
                        <input type="date" id="expenseDate" name="paymentDate" required
                               value="${#dates.format(#calendars.createNow().time, 'yyyy-MM-dd')}"/>
                    </div>
                    <div class="input-group">
                        <label for="expenseAmount" style="margin-right: 3px">Введите сумму расхода:</label>
                        <input type="number" id="expenseAmount" name="amount" required step="0.01"/>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="addExpenseRow()">Добавить строку</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
<div id="popupCateg" class="popup-form">
    <span class="close" onclick="closePopupForm(this)">&times;</span>
    <div class="popup-content">
        <form th:action="@{/delete_category}" method="post">
            <div id="categoryList">
                <h3>Категории доходов</h3>
                <ul id="categoryIncList" class="category-list">
                    <th:block th:each="category : ${categories_inc}">
                        <li class="category-item" onclick="selectCategory(this)" th:data-value="${category.categoryId}" th:text="${category.name}"></li>
                    </th:block>
                </ul>
                <hr>
                <h3>Категории расходов</h3>
                <ul id="categoryExpList" class="category-list">
                    <th:block th:each="category : ${categories_dec}">
                        <li class="category-item" onclick="selectCategory(this)" th:data-value="${category.categoryId}" th:text="${category.name}"></li>
                    </th:block>
                </ul>
                <input type="hidden" id="selectedCategoryId" name="categoryID" required>
                <button type="submit" class="btn btn-primary">Удалить категорию</button>
            </div>
        </form>
    </div>
</div>
<div id="popupAddCateg" class="popup-form">
    <span class="close" onclick="closePopupForm(this)">&times;</span>
    <h3>Добавить новую категорию</h3>
    <hr>
    <form th:action="@{/add_category}" method="post">
        <label for="type">Выберите тип категории:</label>
        <select id="type" name="type" required>
            <option value= '0'>Доходы</option>
            <option value= '1'>Расходы</option>
        </select>

        <div style="margin-top: 10px">
            <label for="categName" style="margin-right: 3px">Введите название категории:</label>
            <input type="text" id="categName" name="name" required/>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-top: 10px" >Добавить категорию</button>
    </form>
</div>

<script>
    function chooseFile(inputId) {
        // Открываем проводник для выбора файла
        document.getElementById(inputId).click();
    }

    // Обработка выбора файла
    document.getElementById('incomeFile').addEventListener('change', handleFileSelect);
    document.getElementById('expenseFile').addEventListener('change', handleFileSelect);

    function handleFileSelect(event) {
        const inputId = event.target.id;
        const fileInput = document.getElementById(inputId);
        const fileName = fileInput.value.split('\\').pop(); // Получаем имя файла

        // Выводим имя файла на кнопке
        const button = document.querySelector(`[onclick="chooseFile('${inputId}')"]`);
        button.innerHTML = `Выбран файл: ${fileName}`;
    }
</script>
<script>
    function openPopupForm(popupId) {
        var allPopups = document.querySelectorAll('.popup-form');
        allPopups.forEach(function (popup) {
            popup.style.display = "none";
        });

        // Отображаем оверлей
        document.getElementById('popupOverlay').style.display = "block";

        document.getElementById(popupId).style.display = "block";
    }

    function closePopupForm(caller) {
        var popup = caller.closest('.popup-form');
        if (popup) {
            popup.style.display = "none";
        }

        // Скрываем оверлей
        document.getElementById('popupOverlay').style.display = "none";
    }
</script>
</script>
<script>
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: "yy-mm",
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 2));

                $.get("/pc/" + dateText)
            }
        });
    });
</script>
<script>
    // Получаем текущую дату
    var today = new Date();

    // Добавляем 7 дней к текущей дате
    var minDate = new Date(today.getTime() + (7 * 24 * 60 * 60 * 1000));

    // Получаем год и месяц следующего месяца
    var nextMonthYear = minDate.getFullYear();
    var nextMonth = minDate.getMonth() + 1; // Месяцы в JavaScript начинаются с 0, поэтому добавляем 1

    // Форматируем значения года и месяца для использования в атрибуте min и max
    var formattedNextMonth = nextMonthYear + '-' + (nextMonth < 10 ? '0' + nextMonth : nextMonth);

    // Устанавливаем ограничения для выбора месяца
    //document.getElementById('month').setAttribute('min', formattedNextMonth);
    document.getElementById('month').setAttribute('max', formattedNextMonth);
</script>
<script>
    function toggleEditing() {
        var editButton = document.getElementById("editButton");
        var editableCells = document.getElementsByClassName("editable-cell");

        if (editButton.innerText === "Разрешить редактирование") {
            editButton.innerText = "Завершить редактирование";
            for (var i = 0; i < editableCells.length; i++) {
                editableCells[i].contentEditable = "true";
            }
        } else {
            editButton.innerText = "Разрешить редактирование";
            for (var i = 0; i < editableCells.length; i++) {
                editableCells[i].contentEditable = "false";
            }
        }
    }
</script>
<script>
    function configureDateInput(formId, dateInputId) {
        var currentDate = new Date();
        var firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
        var formattedFirstDayOfMonth = firstDayOfMonth.toISOString().split('T')[0];
        var lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
        var formattedLastDayOfMonth = lastDayOfMonth.toISOString().split('T')[0];
        var daysRemaining = lastDayOfMonth.getDate() - currentDate.getDate();

        if (daysRemaining <= 7) {
            var nextMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 2, 0);
            var formattedNextMonth = nextMonth.toISOString().split('T')[0];
            document.getElementById(dateInputId).setAttribute('max', formattedNextMonth);
        } else {
            document.getElementById(dateInputId).setAttribute('max', formattedLastDayOfMonth);
        }

        document.getElementById(dateInputId).setAttribute('min', formattedFirstDayOfMonth);
    }

    // Call the function for the first form
    configureDateInput('popupFormIncome', 'incomeDate');

    // Call the function for the second form
    configureDateInput('popupFormDec', 'expenseDate');
</script>
<script>
    function addIncomeRow() {
        var incomeRowsContainer = document.getElementById('incomeRows');
        var newIncomeRow = document.querySelector('.income-row').cloneNode(true);

        // Update names with an index
        newIncomeRow.querySelector('#category_inc').name = 'categoryId';
        newIncomeRow.querySelector('#incomeDate').name = 'paymentDate';
        newIncomeRow.querySelector('#incomeAmount').name = 'amount';

        // Add delete button
        var deleteButton = document.createElement('button');
        deleteButton.textContent = '-';
        deleteButton.className = "btn btn-primary"
        deleteButton.onclick = function () {
            removeIncomeRow(this.parentNode);
        };

        newIncomeRow.appendChild(deleteButton);

        incomeRowsContainer.appendChild(newIncomeRow);
    }

    function addExpenseRow() {
        var expenseRowsContainer = document.getElementById('expenseRows');
        var newExpenseRow = document.querySelector('.expense-row').cloneNode(true);

        // Update names with an index
        newExpenseRow.querySelector('#category_exp').name = 'categoryId';
        newExpenseRow.querySelector('#expenseDate').name = 'paymentDate';
        newExpenseRow.querySelector('#expenseAmount').name = 'amount';

        // Add delete button
        var deleteButton = document.createElement('button');
        deleteButton.textContent = '-';
        deleteButton.className = "btn btn-primary"
        deleteButton.onclick = function () {
            removeExpenseRow(this.parentNode);
        };

        newExpenseRow.appendChild(deleteButton);

        expenseRowsContainer.appendChild(newExpenseRow);
    }

    function removeIncomeRow(row) {
        var container = document.getElementById('incomeRows');
        container.removeChild(row);

        // Обновляем индексы после удаления
        var rows = container.getElementsByClassName('income-row');
        for (var i = 0; i < rows.length; i++) {
            rows[i].querySelector('#category_inc').name = 'categoryId[' + i + ']';
            rows[i].querySelector('#incomeDate').name = 'paym_date[' + i + ']';
            rows[i].querySelector('#incomeAmount').name = 'amount[' + i + ']';
        }
    }

    function removeExpenseRow(row) {
        var container = document.getElementById('expenseRows');
        container.removeChild(row);

        // Обновляем индексы после удаления
        var rows = container.getElementsByClassName('expense-row');
        for (var i = 0; i < rows.length; i++) {
            rows[i].querySelector('#category_dec').name = 'categoryId[' + i + ']';
            rows[i].querySelector('#expenseDate').name = 'paym_date[' + i + ']';
            rows[i].querySelector('#expenseAmount').name = 'amount[' + i + ']';
        }


    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var categoryList = document.getElementById('categoryList');
        categoryList.addEventListener('click', function (e) {
            if (e.target && e.target.nodeName === "LI") {
                var selectedId = e.target.getAttribute('data-value');
                document.getElementById('selectedCategoryId').value = selectedId;

                var items = categoryList.getElementsByClassName('category-item');
                for (var i = 0; i < items.length; i++) {
                    items[i].classList.remove('active');
                }
                e.target.classList.add('active');
            }
        });
    });
</script>
<script>
    function selectCategory(element) {
        var categoryId = element.getAttribute('data-value');
        document.getElementById('selectedCategoryId').value = categoryId;
    }
</script>

</body>
</html>