<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
     style="background-color: white">
    <h5>Панель управления</h5>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" th:if="${request.requestURI.endsWith('/pc')}">
        <li>
            <a href="#" class="nav-link link-body-emphasis" style="color: black; text-decoration: none;"
               th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}"
               onclick="openPopupForm()">
                Создать новый календарь
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis" style="color: black; text-decoration: none;"
               th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}">
                Категории
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-body-emphasis" style="color: black; text-decoration: none;"
               th:if="${#authorization.expression('hasRole(''ROLE_OWNER'')')}
                 and ${#temporals.format(#temporals.createNow(), 'yyyy-MM') > #temporals.format(date, 'yyyy-MM')}
                    and (${totalFactAmount_inc == 0.0} or ${totalFactAmount_dec == 0.0})">
                Заполнить платёжный календарь
            </a>
        </li>
        <li>
            <button class="nav-link link-body-emphasis" onclick="handleButton1Click()"
                    style="color: black; text-decoration: none;"
                    th:if="${#authorization.expression('hasRole(''ROLE_INFORMER'')')}
                    and ${#temporals.format(#temporals.createNow(), 'yyyy-MM') < #temporals.format(date, 'yyyy-MM')}
                    and (${totalFactAmount_inc == 0.0} or ${totalFactAmount_dec == 0.0})">
                <!--                <svg class="bi pe-none me-2" width="16" height="16">-->
                Внести данные по доходам
            </button>
        </li>
        <li>
            <button class="nav-link link-body-emphasis" onclick="handleButton2Click()"
                    style="color: black; text-decoration: none;"
                    th:if="${#authorization.expression('hasRole(''ROLE_INFORMER'')')}
                    and ${#temporals.format(#temporals.createNow(), 'yyyy-MM') < #temporals.format(date, 'yyyy-MM')}
                    and (${totalFactAmount_inc == 0.0} or ${totalFactAmount_dec == 0.0})">
                Внести данные по расходам
            </button>
        </li>

    </ul>
    <ul class="nav nav-pills flex-column mb-auto" th:if="${request.requestURI.endsWith('/dashboards')}">
        <li>
            <button class="nav-link link-body-emphasis" onclick="handleButton3Click()"
                    style="color: black; text-decoration: none;">
                Добавить дашборд
            </button>
        </li>

    </ul>
    <hr>
    <div class="dropdown" style="color: black;">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong></strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Настройки</a></li>
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/logout" onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();">Выход</a></li>
            <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </ul>
    </div>
</div>
</body>
</html>