.bg-custom-color{
    background-color: #F1F0FA;
}

.btn-primary {
    background-color: #7E75D1;
    color: white;
    border-color: white;
}

.btn-primary:hover {
    background-color: #7E75D1;
    color: white;
    border-color: white;
}

.btn-outline-primary {
    background-color: white;
    color: black;
    border-color: black;
}

.btn-outline-primary:hover {
    background-color: black;
    color: white;
    border-color: black;
}

.header-title {
    font-size: 15rem;
    font-weight: bold;
    margin-top: 0rem;
    letter-spacing: 1rem;
}

::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #2F3337;
}

.table-bordered {
    margin-right: 20px; /* Задайте нужное значение отступа */
}

.popup-form {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-height: 400px; /* Задайте желаемую максимальную высоту формы */
    overflow-y: auto; /* Добавляем полосу прокрутки при необходимости */
}

.popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*#additionalButtons {*/
/*    max-height: 0;*/
/*    overflow: hidden;*/
/*    transition: max-height 0.5s ease-in-out;*/
/*}*/

.content-container-pc {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 190px;
    margin-right: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.tables-container-pc {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: auto;
}

.table-wrapper-pc {
    flex: 1;
    margin-right: 10px;
}


 .planned-payment {
     color: grey; /* Set the planned payments to grey */
 }

.actual-payment {
    color: black; /* Set the actual payments to black */
    font-weight: bold; /* Highlight actual payments */
}

.expense-row,
.income-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    margin-bottom: 10px;
}

.input-group {
    flex: 1;
    margin-right: 10px;
}
#category_dec,
#category_inc,
#expenseDate,
#incomeDate,
#expenseAmount,
#incomeAmount {
    width: 100%; /* Ширина 100% для всех элементов ввода */
    box-sizing: border-box; /* Учитываем padding и border внутри элемента */
    height: 30px;
}

.delete-button {
    width: 5%;
    height: 30px;
    border: none;
}

.disabled-button {
    color: gray;
    text-decoration: none;
}

.abled-button {
    color: black;
    text-decoration: none;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category-item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.category-item.active {
    background-color: #C6C2EB;
    color: white;
}

.popup-overlay {
    display: none; /* Скрыть оверлей по умолчанию */
    position: fixed; /* Фиксированное позиционирование, чтобы оверлей оставался на месте при прокрутке */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 9998; /* Убедитесь, что оверлей находится под всплывающим окном */
}
